* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/* HEADER SECTION */
.wrapper {
    width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(../images/banner/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
}

.hero-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
}

.hero-description {
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-primary {
    padding: 20px 25px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    border: 0;
    background-color: #F15B22;
    border-radius: 5px;
    cursor: pointer;
}

.hero-container {
    width: 50%;
}

/* FAILURE SECTION */
.failure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 85px;
    margin: 130px 0;
}

.failure-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.failure-description {
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.failure-container ul li {
    list-style-type: none;
    line-height: 26px;
}

.failure-container ul li i {
    margin-right: 10px;
    color: #16D887;
}

/* PLANNER SECTION */


.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    text-align: center;
    margin-bottom: 55px;
}

.plan-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 130px;
}

.item-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
    margin-top: 24px;
    margin-bottom: 16px;
}

.item-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* MINDSET SECTION */
.mind-wrapper {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    margin-bottom: 130px;
}

.mind-title {
    margin-left: 64px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.mind-wrapper .btn-primary {
    margin-left: 64px;
    background-color: #FFFFFF;
    color: #F15B22;
}

/* FOOTER SECTION */
footer {
    background: #151414;
    color: #ffffff;
    padding: 130px 0;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  .future-container {
    max-width: 44%;
  }
  .future-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #f8f8f8;
  }
  .future-description {
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .future-social-link a {
    text-decoration: none;
    margin-right: 17px;
  }
  .subscribe {
    width: 30%;
  }
  .subscribe-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #f8f8f8;
    margin-bottom: 31px;
  }
  .subscribe .email {
    padding: 21px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  .subscribe input::placeholder {
    font-size: 18px;
    line-height: 21px;
    color: #f3f3f3;
  }
  .subscribe .btn-primary {
    padding: 21px 36px;
    background-color: #FFFFFF;
    color: #F15B22;
  }